global !p
from ultisnips_helpers import *
endglobal

priority 1

snippet mes "message()" b
message($1)
endsnippet

snippet " "double quote" i
"$1"
endsnippet

snippet $ "variable reference" i
${$1}
endsnippet
