extends html
priority 1

global !p
from ultisnips_helpers import *
endglobal

snippet classname "className=" w
className="$1"
endsnippet

snippet render "render function" w
render() {
	return ($1
	);
}
endsnippet



# vim: set ts=4:
