snippet "sp|snippet" "new snippet" br
snippet $1 "$2" ${3:b}
$4
`!p snip.rv = "endsnippet"`
endsnippet

snippet "gb|global" "global section" r
global !p
from ultisnips_helpers import *
endglobal
endsnippet
