
snippet fr "new beamer frame" b
\begin{frame}`!p if t[1]: snip.rv = '{'`$1`!p if t[1]: snip.rv = '}'`
$0
\end{frame}
endsnippet

snippet it "itemize"
\begin{itemize}
\item $0
\end{itemize}
endsnippet
