/.netrwhist
/ultisnips/examples/
*.swp
*.pyc
/tags
/sessions/

/plugins/*
!/plugins/neocomplete
!/plugins/ultisnips
!/plugins/ctrlp
!/plugins/nerdtree
!/plugins/tagbar
!/plugins/vim-jsx
!/plugins/vim-javascript
!/plugins/jedi
!/plugins/vim-clang
