/.netrwhist
/ultisnips/examples/
*.swp
*.pyc
/tags

/plugins/*
!/plugins/neocomplete
!/plugins/ultisnips
!/plugins/ctrlp
!/plugins/nerdtree
!/plugins/tagbar
!/plugins/vim-jsx
!/plugins/vim-javascript
