[submodule "plugins/neocomplete"]
	path = plugins/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "plugins/ultisnips"]
	path = plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "plugins/vim-jsx"]
	path = plugins/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "plugins/vim-javascript"]
	path = plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "plugins/vim-clang"]
	path = plugins/vim-clang
	url = https://github.com/justmao945/vim-clang.git
[submodule "plugins/vim-obsession"]
	path = plugins/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "plugins/vim-flake8"]
	path = plugins/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "plugins/vim-python-pep8-indent"]
	path = plugins/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "plugins/jedi-vim"]
	path = plugins/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
