/.netrwhist
/ultisnips/examples/
*.swp
*.pyc
/tags

/plugins/*
!/plugins/neocomplete
!/plugins/ultisnips
!/plugins/ctrlp
!/plugins/nerdtree
!/plugins/tagbar
!/plugins/vim-jsx
!/plugins/vim-javascript
!/plugins/jedi
!/plugins/vim-clang
!/plugins/vim-obsession
!/plugins/vim-flake8
!/plugins/vim-python-pep8-indent

/sessions/*
!/sessions/touch
